<template>
  <nav class="navbar navbar-expand-lg navbar-dark navbarColor shadow-sm" dir="rtl">
    <a class="navbar-brand" href="#">وبسایت</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-auto">
        <li class="nav-item active">
          <nuxt-link to="/" class="nav-link">صفحه اصلی</nuxt-link>
        </li>
        <li class="nav-item mr-3">
          <nuxt-link to="/contact_us" class="nav-link">تماس با ما</nuxt-link>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#">درباره ما</a>
        </li>
        <li class="nav-item mr-3">
          <nuxt-link to="/questions" class="nav-link">سوالات متداول</nuxt-link>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <nuxt-link
          class="badge badge-pill badge-light py-1 px-3 btn text-purpul ml-3"
          to="/"
        >ثبت نام</nuxt-link>

        <nuxt-link to="/auth/login" class="btn text-white">ورود</nuxt-link>
      </div>
    </div>
  </nav>
</template>

<style scoped>
.navbarColor {
  background-color: #622c6a;
}
.text-purpul {
  color: #622c6a;
}
</style>