<template>
  <nav class="navbar navbar-expand-lg navbar-dark navbarColor shadow-sm">
    <div class="container-fluid">
      <div class="col-12 p-0">
        <div class="row">
          <div class="col-4 text-center">
            <b-button class="btn-success col-8">جستو جو</b-button>
          </div>
          <div class="col-4">
            <div class="d-flex">
              <b-input class="col-8" />
              <strong class="pl-3 mt-2">نام آرایشگاه</strong>
            </div>
          </div>
          <div class="col-4">
            <div class="d-flex">
              <b-input class="col-8" />
              <strong class="pl-3 mt-2">موقیت مکانی</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>