<template>
  <div>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-6"></div>
        <div class="col-md-6" v-if="!singup">
          <h2 class="font-weight-bold text-center">ورود به حساب کاربری</h2>

          <div class="height flex-center">
            <div v-if="singin">
              <div class="form-group text-right col-10 offset-1">
                <label for="basic-url" class="font-weight-bold">شماره موبایل</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">🇮🇷</span>
                  </div>
                  <input
                    v-model="phone"
                    type="text"
                    class="form-control"
                    id="basic-url"
                    aria-describedby="basic-addon3"
                  />
                </div>
                <button type="submit" class="btn btn-success mt-5 col-12" @click="getCode">ارسال کد</button>
              </div>
            </div>
            <div v-else>
              <div class="form-group text-right col-10 offset-1">
                <div class="form-group text-center">
                  <label
                    for="number"
                    class="font-weight-bold"
                  >کد ارسال شده به ({{phone}}) را وارد کنید</label>
                  <input type="number" class="form-control" id="number" />
                </div>
                <button type="submit" class="btn btn-success mt-5 col-12">ورود</button>
              </div>
            </div>
            <div class="text-center mt-5">
              <p>هنوز ثبت نام نکرده اید ؟</p>
              <button
                @click="singupTruer"
                class="btn btn-primary text-white col-3 px-3 py-1"
              >ثبت نام</button>
            </div>
          </div>
        </div>
        <div class="col-md-6" v-else>
          <h2 class="font-weight-bold text-center">ثبت نام</h2>

          <div class="height flex-center">
            <div class="row">
              <div class="form-group text-right col-6">
                <label for="basic-url" class="font-weight-bold">ایمیل</label>
                <div class="input-group mb-3">
                  <input type="email" class="form-control" />
                </div>
              </div>
              <div class="form-group text-right col-6">
                <label for="basic-url" class="font-weight-bold">نام نام خانوادگی (فارسی)</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6 text-right">
                <label for="basic-url" class="font-weight-bold">تاریخ تولد</label>
                <div class="input-group mb-3">
                  <input @click="calender=true" v-model="value" class="form-control" />
                </div>
                <div v-if="calender" class="position-absolute bg-light card" style="z-index:2">
                  <div @click="calender=false">✖️</div>
                  <b-calendar v-model="value" @context="onContext" locale="fa-IR"></b-calendar>
                </div>
              </div>

              <div class="col-md-6 text-right bg-light">
                <label for="dropdown-1" class="font-weight-bold col-12">شهر</label>
                <b-dropdown id="dropdown-1" text="موقیت کنونی شهر" class="text-right" variant="outline-success">
                  <b-dropdown-item>مشهد</b-dropdown-item>
                  <b-dropdown-item>اصفهان</b-dropdown-item>
                  <b-dropdown-item>اهواز</b-dropdown-item>
                  <!-- <b-dropdown-divider></b-dropdown-divider> -->
                  <b-dropdown-item active>تهران</b-dropdown-item>
                  <!-- <b-dropdown-item disabled>Disabled action</b-dropdown-item> -->
                </b-dropdown>
              </div>
              <div class="col-6 offset-6 mt-5">
                <div class="row">
                  <div class="form-check col-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadios"
                      id="exampleRadios1"
                      value="option1"
                      checked
                    />
                    <label class="form-check-label" for="exampleRadios1">مرد</label>
                  </div>
                  <div class="form-check col-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadios"
                      id="exampleRadios2"
                      value="option2"
                    />
                    <label class="form-check-label" for="exampleRadios2">زن</label>
                  </div>
                  <div class="col-6 font-weight-bold text-right">جنسیت</div>
                </div>
              </div>
              <div class="form-check col-12 mt-5 text-right">
                <label class="form-check-label mr-5 text-left" for="defaultCheck1">
                  با
                  <span class="text-success">قوانین و مقرارت وبسایت</span> موافق هستم
                </label>
                <input class="form-check-input" type="checkbox" value id="defaultCheck1" />
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-success mt-5 col-12">ایجاد حساب کاربری</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      value: "",
      calender: false,
      phone: "",
      singup: false,
      singin: true
    };
  },
  methods: {
    getCode() {
      this.singin = false;
    },
    singupTruer() {
      this.singup = true;
    }
  }
};
</script>
<style scoped>
.height {
  height: 70vh;
}
.flex-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
</style>