@font-face {
    font-family: 'IRANYekanMobile';
    src: url('./fonts/subset-IRANYekanMobile.eot');
    src: url('./fonts/subset-IRANYekanMobile.eot?#iefix') format('embedded-opentype'), url('./fonts/subset-IRANYekanMobile.woff2') format('woff2'), url('./fonts/subset-IRANYekanMobile.woff') format('woff'), url('./fonts/subset-IRANYekanMobile.ttf') format('truetype'), url('./fonts/subset-IRANYekanMobile.svg#IRANYekanMobile') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}