<template>
  <div>
    <Header />
    <nuxt />
  </div>
</template>

<script>
import Header from "@/components/header.vue";
import css from "@/assets/stylesheet.css";
export default {
  components: {
    Header
  }
};
</script>
<style  >
@import url("../assets/stylesheet.css");
body {
  background: rgba(0, 0, 0, 0.027);
  font-family: "IRANYekanMobile";
}
</style>
