<template>
  <div>
    <search />
    <div class="container mt-5">
      <div class="col-12 p-0">
        <div class="row">
          <div class="col-md-6">ss</div>
          <div class="col-md-6 mt-5 text-center">
            <div class="card fixed">
              <div class="text-center mt-2">
                <h4>
                  <strong>سرویس ها</strong>
                </h4>
              </div>
              <div class="col-12 text-right" dir="rtl">
                <h4>دسته بندی ها</h4>
                <div class="row">
                  <div class="col-md-3">
                    <b-button class="col-12 bg-purpul">رنگ مو</b-button>
                  </div>
                  <div class="col-md-3">
                    <b-button class="col-12">رنگ سر</b-button>
                  </div>
                  <div class="col-md-3">
                    <b-button class="col-12">رنگ صورت</b-button>
                  </div>
                  <div class="col-md-3">
                    <b-button class="col-12">رنگ ناخن</b-button>
                  </div>

                  <div class="mt-5 col-12">
                    <h4 class="col-12 text-right p-0">انتخاب سرویس</h4>
                    <div class="row mt-2">
                      <div class="col-md-6">
                        <div class="card">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-2 bg-purpul p-0 text-center text-white rounded-right">
                                <small>15</small>
                                <small>دقیقه</small>
                              </div>
                              <div class="col-10">
                                <div class="row mt-2">
                                  <div class="col-6 py-2">
                                    <span>اصلاح سر</span>
                                  </div>
                                  <div class="col-6 py-2">
                                    <span class="text-primary">15,000</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-2 bg-purpul p-0 text-center text-white rounded-right">
                                <small>15</small>
                                <small>دقیقه</small>
                              </div>
                              <div class="col-10">
                                <div class="row mt-2">
                                  <div class="col-6 py-2">
                                    <span>اصلاح سر</span>
                                  </div>
                                  <div class="col-6 py-2">
                                    <span class="text-primary">15,000</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-6">
                        <div class="card">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-2 bg-purpul p-0 text-center text-white rounded-right">
                                <small>15</small>
                                <small>دقیقه</small>
                              </div>
                              <div class="col-10">
                                <div class="row mt-2">
                                  <div class="col-6 py-2">
                                    <span>اصلاح سر</span>
                                  </div>
                                  <div class="col-6 py-2">
                                    <span class="text-primary">15,000</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-2 bg-purpul p-0 text-center text-white rounded-right">
                                <small>15</small>
                                <small>دقیقه</small>
                              </div>
                              <div class="col-10">
                                <div class="row mt-2">
                                  <div class="col-6 py-2">
                                    <span>اصلاح سر</span>
                                  </div>
                                  <div class="col-6 py-2">
                                    <span class="text-primary">15,000</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-6">
                        <div class="card">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-2 bg-purpul p-0 text-center text-white rounded-right">
                                <small>15</small>
                                <small>دقیقه</small>
                              </div>
                              <div class="col-10">
                                <div class="row mt-2">
                                  <div class="col-6 py-2">
                                    <span>اصلاح سر</span>
                                  </div>
                                  <div class="col-6 py-2">
                                    <span class="text-primary">15,000</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-2 bg-purpul p-0 text-center text-white rounded-right">
                                <small>15</small>
                                <small>دقیقه</small>
                              </div>
                              <div class="col-10">
                                <div class="row mt-2">
                                  <div class="col-6 py-2">
                                    <span>اصلاح سر</span>
                                  </div>
                                  <div class="col-6 py-2">
                                    <span class="text-primary">15,000</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-6">
                        <div class="card">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-2 bg-purpul p-0 text-center text-white rounded-right">
                                <small>15</small>
                                <small>دقیقه</small>
                              </div>
                              <div class="col-10">
                                <div class="row mt-2">
                                  <div class="col-6 py-2">
                                    <span>اصلاح سر</span>
                                  </div>
                                  <div class="col-6 py-2">
                                    <span class="text-primary">15,000</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-2 bg-purpul p-0 text-center text-white rounded-right">
                                <small>15</small>
                                <small>دقیقه</small>
                              </div>
                              <div class="col-10">
                                <div class="row mt-2">
                                  <div class="col-6 py-2">
                                    <span>اصلاح سر</span>
                                  </div>
                                  <div class="col-6 py-2">
                                    <span class="text-primary">15,000</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-5 mb-5">
                      <b-button class="btn-success col-12 mt-5 rounded-pill">انتخاب زمان</b-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import search from "@/components/searchNav.vue";
export default {
  components: {
    search
  }
};
</script>
<style scoped>
.bg-purpul {
  background: #622c6a !important;
}
</style>