<template>
  <div>
    <search />
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-4 mt-5 text-right">
          <h4>
            <strong>:شماره تماس پشتیبانی</strong>
          </h4>
          <div class="text-left mt-3 mb-4 border-bottom">
            <h5 class="mt-2">09177058468</h5>
            <h5 class="mt-2">09177058468</h5>
          </div>

          <h4 class="mt-4">
            <strong>:آدرس</strong>
          </h4>
          <div class="text-right mt-3">
            <p>شیراز، خیابان زند ، قبل از هتل پارس، جنب هواپیمایی آسمان، ساختمان ولیعصر ، طبقه 5</p>
          </div>
        </div>
        <div class="col-md-8 mt-5 text-right" dir="rtl">
          <h4 class="border-bottom col-2 pb-3 text-purpul border-color">
            <strong>تماس با ما</strong>
          </h4>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
        </div>
        <div class="col-md-12 mt-5 text-right" dir="rtl">
          <h4 class="border-bottom col-2 pb-3 text-purpul border-color">
            <strong>فرم تماس</strong>
          </h4>
          <p class="mt-2">از طریق این فرم برای ما پیغام بگذاید. به زودی با شما تماس خواهیم گرفت .</p>
          <div class="row">
            <div class="col-4">
              <div class="mt-2">
                <b-input class="col-12 text-right" placeholder="نام شما" />
              </div>
              <div class="mt-2">
                <b-input class="col-12 text-right" placeholder="ایمیل" type="email" />
              </div>
              <div class="mt-2 mb-5">
                <b-input class="col-12 text-right" placeholder="موضوع" />
              </div>
            </div>
            <div class="col-8 mt-2">
              <b-textarea placeholder="پیام شما" class="textAriaHeghit" />
            </div>
            <div class="col-12 text-left mb-5">
              <b-button variant="primary" class="col-2">ارسال پیام</b-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import search from "@/components/searchNav.vue";
export default {
  components: {
    search
  }
};
</script>
<style scoped>
.textAriaHeghit {
  height: 130px;
}
.border-color {
  border-color: #622c6a !important;
}
.text-purpul {
  color: #622c6a;
}
</style>