<template>
  <div class="container-fluid">
    <div class="col-12 mt-5">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="text-right col-12">
              <div class="row">
                <h4 class="col-12 text-center mt-3 font-weight-bold">رزرو نوبت آرایشگاه</h4>
                <small class="col-12 text-center">نوبت را خودت انتخاب کن</small>
                <div class="col-12 p-3 text-right">
                  <label for="basic-url" class="font-weight-bold">موقیت مکانی</label>
                  <div class="input-group mb-3">
                    <input
                      @click="calender=true"
                      class="form-control text-right"
                      placeholder="انتخاب محله ، شهر"
                    />
                  </div>
                </div>
                <div class="col-12 p-3 text-right">
                  <label for="dropdown-1" class="font-weight-bold">نام آرایشگاه</label>
                  <div class="input-group mb-3">
                    <div class="col-12 p-0">
                      <b-dropdown
                        variant="light"
                        id="dropdown-1"
                        text="نام آرایشگاه مورد نظر را وارد کنید"
                        class="col-12 p-0 text-right"
                      >
                        <b-dropdown-item>First Action</b-dropdown-item>
                        <b-dropdown-item>Second Action</b-dropdown-item>
                        <b-dropdown-item>Third Action</b-dropdown-item>
                      </b-dropdown>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-5 mb-3">
                  <b-button variant="success" class="col-12 mt-5">جستو جو</b-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card"></div>
        </div>
      </div>

      <div class="mt-5">
        <div class="col-12">
          <div class="text-right">
            <h4 class="col-12 text-right">مکان های نزدیک به شما</h4>
            <div class="row" dir="rtl">
              <div class="col-md-4 mt-2">
                <b-card>
                  <div class="row">
                    <div class="col-3">
                      <img src="@/assets/image/barbara.jpg" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-9">
                      <div class="row">
                        <div class="col-6 d-flex">
                          <span class="material-icons">turned_in</span>
                          <h5>مهرشاد</h5>
                        </div>
                        <div class="col-6 text-left">
                          <a href="#">نمایش روی نقشه</a>
                        </div>
                      </div>
                      <div class="col-12 text-right text-muted d-flex p-0 mt-2">
                        <small class="d-flex">
                          <span class="material-icons">place</span>
                          <p>شبراز.خیابان زند، قبل از هتل پارس.جنب هواپیمایی آسمان، ساختمان ولیعصر، طبقه ی 5</p>
                        </small>
                      </div>
                      <div class="row mt-3 d-flex">
                        <div class="col-6 text-right">
                          ساعت کاری
                          <p class="text-purpul font-weight-bold mb-0">8 الی 21</p>
                        </div>
                        <div class="col-6 text-right">
                          <b-button class="col-12 bg-purpul">رزرو</b-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-card>
              </div>
              <div class="col-md-4 mt-2">
                <b-card>
                  <div class="row">
                    <div class="col-3">
                      <img src="@/assets/image/barbara.jpg" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-9">
                      <div class="row">
                        <div class="col-6 d-flex">
                          <span class="material-icons">turned_in</span>
                          <h5>مهرشاد</h5>
                        </div>
                        <div class="col-6 text-left">
                          <a href="#">نمایش روی نقشه</a>
                        </div>
                      </div>
                      <div class="col-12 text-right text-muted d-flex p-0 mt-2">
                        <small class="d-flex">
                          <span class="material-icons">place</span>
                          <p>شبراز.خیابان زند، قبل از هتل پارس.جنب هواپیمایی آسمان، ساختمان ولیعصر، طبقه ی 5</p>
                        </small>
                      </div>
                      <div class="row mt-3 d-flex">
                        <div class="col-6 text-right">
                          ساعت کاری
                          <p class="text-purpul font-weight-bold mb-0">8 الی 21</p>
                        </div>
                        <div class="col-6 text-right">
                          <b-button class="col-12 bg-purpul">رزرو</b-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-card>
              </div>
              <div class="col-md-4 mt-2">
                <b-card>
                  <div class="row">
                    <div class="col-3">
                      <img src="@/assets/image/barbara.jpg" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-9">
                      <div class="row">
                        <div class="col-6 d-flex">
                          <span class="material-icons">turned_in</span>
                          <h5>مهرشاد</h5>
                        </div>
                        <div class="col-6 text-left">
                          <a href="#">نمایش روی نقشه</a>
                        </div>
                      </div>
                      <div class="col-12 text-right text-muted d-flex p-0 mt-2">
                        <small class="d-flex">
                          <span class="material-icons">place</span>
                          <p>شبراز.خیابان زند، قبل از هتل پارس.جنب هواپیمایی آسمان، ساختمان ولیعصر، طبقه ی 5</p>
                        </small>
                      </div>
                      <div class="row mt-3 d-flex">
                        <div class="col-6 text-right">
                          ساعت کاری
                          <p class="text-purpul font-weight-bold mb-0">8 الی 21</p>
                        </div>
                        <div class="col-6 text-right">
                          <b-button class="col-12 bg-purpul">رزرو</b-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-card>
              </div>
            </div>

            <h4 class="col-12 text-right mt-5">پیشنهاد های ما</h4>
            <div class="row" dir="rtl">
              <div class="col-md-4 mt-2">
                <b-card>
                  <div class="row">
                    <div class="col-3">
                      <img src="@/assets/image/barbara.jpg" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-9">
                      <div class="row">
                        <div class="col-6 d-flex">
                          <span class="material-icons">turned_in</span>
                          <h5>مهرشاد</h5>
                        </div>
                        <div class="col-6 text-left">
                          <a href="#">نمایش روی نقشه</a>
                        </div>
                      </div>
                      <div class="col-12 text-right text-muted d-flex p-0 mt-2">
                        <small class="d-flex">
                          <span class="material-icons">place</span>
                          <p>شبراز.خیابان زند، قبل از هتل پارس.جنب هواپیمایی آسمان، ساختمان ولیعصر، طبقه ی 5</p>
                        </small>
                      </div>
                      <div class="row mt-3 d-flex">
                        <div class="col-6 text-right">
                          ساعت کاری
                          <p class="text-purpul font-weight-bold mb-0">8 الی 21</p>
                        </div>
                        <div class="col-6 text-right">
                          <b-button class="col-12 bg-purpul">رزرو</b-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-card>
              </div>
              <div class="col-md-4 mt-2">
                <b-card>
                  <div class="row">
                    <div class="col-3">
                      <img src="@/assets/image/barbara.jpg" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-9">
                      <div class="row">
                        <div class="col-6 d-flex">
                          <span class="material-icons">turned_in</span>
                          <h5>مهرشاد</h5>
                        </div>
                        <div class="col-6 text-left">
                          <a href="#">نمایش روی نقشه</a>
                        </div>
                      </div>
                      <div class="col-12 text-right text-muted d-flex p-0 mt-2">
                        <small class="d-flex">
                          <span class="material-icons">place</span>
                          <p>شبراز.خیابان زند، قبل از هتل پارس.جنب هواپیمایی آسمان، ساختمان ولیعصر، طبقه ی 5</p>
                        </small>
                      </div>
                      <div class="row mt-3 d-flex">
                        <div class="col-6 text-right">
                          ساعت کاری
                          <p class="text-purpul font-weight-bold mb-0">8 الی 21</p>
                        </div>
                        <div class="col-6 text-right">
                          <b-button class="col-12 bg-purpul">رزرو</b-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-card>
              </div>
              <div class="col-md-4 mt-2">
                <b-card>
                  <div class="row">
                    <div class="col-3">
                      <img src="@/assets/image/barbara.jpg" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-9">
                      <div class="row">
                        <div class="col-6 d-flex">
                          <span class="material-icons">turned_in</span>
                          <h5>مهرشاد</h5>
                        </div>
                        <div class="col-6 text-left">
                          <a href="#">نمایش روی نقشه</a>
                        </div>
                      </div>
                      <div class="col-12 text-right text-muted d-flex p-0 mt-2">
                        <small class="d-flex">
                          <span class="material-icons">place</span>
                          <p>شبراز.خیابان زند، قبل از هتل پارس.جنب هواپیمایی آسمان، ساختمان ولیعصر، طبقه ی 5</p>
                        </small>
                      </div>
                      <div class="row mt-3 d-flex">
                        <div class="col-6 text-right">
                          ساعت کاری
                          <p class="text-purpul font-weight-bold mb-0">8 الی 21</p>
                        </div>
                        <div class="col-6 text-right">
                          <b-button class="col-12 bg-purpul">رزرو</b-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container h-300 flex-c-center">
        <div class="row">
          <div class="col-md-4 mt-5">image</div>
          <div class="col-md-8 text-right">
            <h3>دانلود اپلیکیشن نوبت آرایشگاه</h3>
            <div class="text-right">
              <span>متن ساختگی متن ساختگی متن ساختگی متن ساختگی متن ساختگی متن ساختگی</span>
              <div class="row mt-3">
                <div class="col-6">
                  <b-button class="bg-dark">دانلود از گوگل پلی</b-button>
                </div>
                <div class="col-6">
                  <b-button class="bg-dark">دانلود از بازار</b-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.h-300 {
  height: 300px;
}
.flex-c-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.bg-purpul {
  background: #622c6a;
}
</style>