<template>
  <div>
    <search />
    <div class="container">
      <div class="col-12 text-center mt-5">
        <h4 class="col-4 offset-4 pb-3 text-purpul">سوالات متداول</h4>
        <div class="border-bottom border-color col-2 offset-5"></div>
      </div>
      <div class="col-8 offset-2 mt-5 text-center">
        <p>لیستی از سوالات متدوال برای درک بهتر ساز و کار به شرح زیر می باشد . اگر سوال خودتان را پیدا نکردید میتوانید. از طریق صفحه تماس با ما، با ما در ارتباط باشید</p>
      </div>
      <div class="row">
        <div class="col-6 mt-3">
          <b-button
            class="col-10 bg-light text-dark text-right"
            :class="visible ? null : 'collapsed'"
            :aria-expanded="visible ? 'true' : 'false'"
            aria-controls="collapse-4"
            @click="visible = !visible"
          >
            <div class="col-12">
              <div class="row">
                <div>
                  <small>➕</small>
                </div>
                <div class="col-10">این سایت چیست</div>
              </div>
            </div>
          </b-button>
          <b-collapse id="collapse-4" v-model="visible" class="mt-2 text-right">
            <b-card>از طریق صفحه تماس با ما، با ما در ارتباط باشید</b-card>
          </b-collapse>
        </div>
        <div class="col-6 mt-3">
          <b-button
            class="col-10 bg-light text-dark text-right"
            :class="visible ? null : 'collapsed'"
            :aria-expanded="visible ? 'true' : 'false'"
            aria-controls="collapse-4"
            @click="visible = !visible"
          >
            <div class="col-12">
              <div class="row">
                <div>
                  <small>➕</small>
                </div>
                <div class="col-10">این سایت چیست</div>
              </div>
            </div>
          </b-button>
          <b-collapse id="collapse-4" v-model="visible" class="mt-2 text-right">
            <b-card>از طریق صفحه تماس با ما، با ما در ارتباط باشید</b-card>
          </b-collapse>
        </div>
        <div class="col-6 mt-3">
          <b-button
            class="col-10 bg-light text-dark text-right"
            :class="visible ? null : 'collapsed'"
            :aria-expanded="visible ? 'true' : 'false'"
            aria-controls="collapse-4"
            @click="visible = !visible"
          >
            <div class="col-12">
              <div class="row">
                <div>
                  <small>➕</small>
                </div>
                <div class="col-10">این سایت چیست</div>
              </div>
            </div>
          </b-button>
          <b-collapse id="collapse-4" v-model="visible" class="mt-2 text-right">
            <b-card>از طریق صفحه تماس با ما، با ما در ارتباط باشید</b-card>
          </b-collapse>
        </div>
        <div class="col-6 mt-3">
          <b-button
            class="col-10 bg-light text-dark text-right"
            :class="visible ? null : 'collapsed'"
            :aria-expanded="visible ? 'true' : 'false'"
            aria-controls="collapse-4"
            @click="visible = !visible"
          >
            <div class="col-12">
              <div class="row">
                <div>
                  <small>➕</small>
                </div>
                <div class="col-10">این سایت چیست</div>
              </div>
            </div>
          </b-button>
          <b-collapse id="collapse-4" v-model="visible" class="mt-2 text-right">
            <b-card>از طریق صفحه تماس با ما، با ما در ارتباط باشید</b-card>
          </b-collapse>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import search from "@/components/searchNav.vue";
export default {
  components: {
    search
  },
  data() {
    return {
      visible: false
    };
  }
};
</script>
<style >
.border-color {
  border-color: #622c6a !important;
}
.text-purpul {
  color: #622c6a;
}
</style>