<template>
  <div class="container-fluid mt-5" dir="rtl">
    <div class="row">
      <div class="col-md-3">
        <Menu />
      </div>
      <div class="col-md-9">
        <Csv v-if="router.csv" />
        <Information v-if="router.information" />
        <Payment v-if="router.payment" />
        <Score v-if="router.score" />
        <Message v-if="router.message" />
        <Intertament v-if="router.intertament" />
      </div>
    </div>
  </div>
</template>
<script>
import Information from "@/components/proflie/information.vue";
import Csv from "@/components/proflie/csv.vue";
import Payment from "@/components/proflie/payment.vue";
import Score from "@/components/proflie/score.vue";
import Message from "@/components/proflie/message.vue";
import Intertament from "@/components/proflie/intertament.vue";
import Salon from "@/components/proflie/salon.vue";

import Menu from "@/components/proflie/menuList.vue";
export default {
  components: {
    Menu,
    Information,
    Csv,
    Intertament,
    Payment,
    Score,
    Message,
    Salon
  },
  data() {
    return {
      router: {
        csv: true,
        payment: false,
        information: false,
        intertament: false,
        score: false,
        message: false,
        salon: false
      }
    };
  },
  watch: {
    $route(to, from) {
      // switch (to.hash) {
      //   case "information":
      this.changeComponent(to.hash);
      // }
    }
  },
  methods: {
    changeComponent(components) {
      let data = components.substr(1);

      for (let i in this.router) {
        this.router[i] = false;
      }
      console.log(this.router);
      this.router[data] = true;
    }
  }
};
</script>
