<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <b-card>
          <div class="row">
            <div class="col-3">
              <img src="@/assets/image/barbara.jpg" class="img-fluid rounded-circle" />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-6 d-flex">
                  <span class="material-icons">turned_in</span>
                  <h5>مهرشاد</h5>
                </div>
                <div class="col-6 text-left">
                  <a href="#">نمایش روی نقشه</a>
                </div>
              </div>
              <div class="col-12 text-right text-muted d-flex p-0 mt-2">
                <small class="d-flex">
                  <span class="material-icons">place</span>
                  <p>شبراز.خیابان زند، قبل از هتل پارس.جنب هواپیمایی آسمان، ساختمان ولیعصر، طبقه ی 5</p>
                </small>
              </div>
              <div class="row mt-3 d-flex">
                <div class="col-6 text-right">
                  ساعت کاری
                  <p class="text-purpul font-weight-bold mb-0">8 الی 21</p>
                </div>
                <div class="col-6 text-right">
                  <b-button class="col-12 bg-purpul">رزرو</b-button>
                </div>
              </div>
            </div>
          </div>
        </b-card>
      </div>
      <div class="col-md-6">
        <b-card>
          <div class="row">
            <div class="col-3">
              <img src="@/assets/image/barbara.jpg" class="img-fluid rounded-circle" />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-6 d-flex">
                  <span class="material-icons">turned_in</span>
                  <h5>مهرشاد</h5>
                </div>
                <div class="col-6 text-left">
                  <a href="#">نمایش روی نقشه</a>
                </div>
              </div>
              <div class="col-12 text-right text-muted d-flex p-0 mt-2">
                <small class="d-flex">
                  <span class="material-icons">place</span>
                  <p>شبراز.خیابان زند، قبل از هتل پارس.جنب هواپیمایی آسمان، ساختمان ولیعصر، طبقه ی 5</p>
                </small>
              </div>
              <div class="row mt-3 d-flex">
                <div class="col-6 text-right">
                  ساعت کاری
                  <p class="text-purpul font-weight-bold mb-0">8 الی 21</p>
                </div>
                <div class="col-6 text-right">
                  <b-button class="col-12 bg-purpul">رزرو</b-button>
                </div>
              </div>
            </div>
          </div>
        </b-card>
      </div>
      <div class="col-md-6 mt-2">
        <b-card>
          <div class="row">
            <div class="col-3">
              <img src="@/assets/image/barbara.jpg" class="img-fluid rounded-circle" />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-6 d-flex">
                  <span class="material-icons">turned_in</span>
                  <h5>مهرشاد</h5>
                </div>
                <div class="col-6 text-left">
                  <a href="#">نمایش روی نقشه</a>
                </div>
              </div>
              <div class="col-12 text-right text-muted d-flex p-0 mt-2">
                <small class="d-flex">
                  <span class="material-icons">place</span>
                  <p>شبراز.خیابان زند، قبل از هتل پارس.جنب هواپیمایی آسمان، ساختمان ولیعصر، طبقه ی 5</p>
                </small>
              </div>
              <div class="row mt-3 d-flex">
                <div class="col-6 text-right">
                  ساعت کاری
                  <p class="text-purpul font-weight-bold mb-0">8 الی 21</p>
                </div>
                <div class="col-6 text-right">
                  <b-button class="col-12 bg-purpul">رزرو</b-button>
                </div>
              </div>
            </div>
          </div>
        </b-card>
      </div>
      <div class="col-md-6 mt-2">
        <b-card>
          <div class="row">
            <div class="col-3">
              <img src="@/assets/image/barbara.jpg" class="img-fluid rounded-circle" />
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-6 d-flex">
                  <span class="material-icons">turned_in</span>
                  <h5>مهرشاد</h5>
                </div>
                <div class="col-6 text-left">
                  <a href="#">نمایش روی نقشه</a>
                </div>
              </div>
              <div class="col-12 text-right text-muted d-flex p-0 mt-2">
                <small class="d-flex">
                  <span class="material-icons">place</span>
                  <p>شبراز.خیابان زند، قبل از هتل پارس.جنب هواپیمایی آسمان، ساختمان ولیعصر، طبقه ی 5</p>
                </small>
              </div>
              <div class="row mt-3 d-flex">
                <div class="col-6 text-right">
                  ساعت کاری
                  <p class="text-purpul font-weight-bold mb-0">8 الی 21</p>
                </div>
                <div class="col-6 text-right">
                  <b-button class="col-12 bg-purpul">رزرو</b-button>
                </div>
              </div>
            </div>
          </div>
        </b-card>
      </div>
    </div>
  </div>
</template>
<style  scoped>
.text-purpul {
  color: #622c6a;
}
.bg-purpul {
  background: #622c6a;
}
</style>