<template>
  <div>
    <ul class="list-group text-right mb-5 h-100">
      <li class="list-group-item py-5 text-center">
        <div class="row img-circle">
          <img
            class="mr-auto ml-auto img-fluid"
            src="@/assets/image/profile.jpg"
            width="100px"
            height="100px"
          />
        </div>
        <a href="#" class>
          <small>
            آپلود عکس
            <!-- <span class="material-icons ">arrow_drop_up</span> -->
          </small>
        </a>
      </li>

      <li class="list-group-item text-purple" :class="{'select':router.csv}">
        <a href="#csv" class="text-purple">
          <div class="d-flex">
            <span class="material-icons ml-3">event</span>
            <strong>رزورهای من</strong>
          </div>
        </a>
      </li>
      <li class="list-group-item" :class="{'select':router.information}">
        <a href="#information">
          <div class="d-flex text-purple">
            <span class="material-icons ml-3">person</span>
            <strong>اطلاعات من</strong>
          </div>
        </a>
      </li>
      <li class="list-group-item" :class="{'select':router.payment}">
        <a href="#payment">
          <div class="d-flex text-purple">
            <span class="material-icons ml-3">credit_card</span>
            <strong>پرداخت ها من</strong>
          </div>
        </a>
      </li>
      <li class="list-group-item" :class="{'select':router.score}">
        <a href="#score">
          <div class="d-flex text-purple">
            <span class="material-icons ml-3">star</span>
            <strong>امتیازات</strong>
          </div>
        </a>
      </li>
      <li class="list-group-item" :class="{'select':router.message}">
        <a href="#message">
          <div class="row">
            <div class="col-6 d-flex text-purple">
              <!-- <div class=""> -->
              <span class="material-icons ml-3">email</span>
              <strong>پیام ها</strong>
            </div>
            <div class="col-6 text-left">
              <span class="badge badge-pill badge-success pt-2">5</span>
              <!-- </div> -->
            </div>
          </div>
        </a>
      </li>
      <li class="list-group-item" :class="{'select':router.intertament}">
        <a href="#intertament">
          <div class="d-flex text-purple">
            <span class="material-icons ml-3">loyalty</span>
            <strong>علاقه مندی ها</strong>
          </div>
        </a>
      </li>
      <li class="list-group-item" :class="{'select':router.salon}">
        <a href="#salon">
          <div class="d-flex text-purple">
            <span class="material-icons ml-3">account_balance</span>
            <strong>سالن من</strong>
          </div>
        </a>
      </li>
      <li class="list-group-item py-5">
        <div class="row">
          <b-button class="btn-danger py-1 px-5 mr-auto ml-auto">خروج</b-button>
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  data() {
    return {
      router: {
        csv: true,
        payment: false,
        information: false,
        intertament: false,
        score: false,
        message: false,
        salon: false
      }
    };
  },
  watch: {
    $route(to, from) {
      // switch (to.hash) {
      //   case "information":
      this.changeComponent(to.hash);
      // }
    }
  },
  methods: {
    changeComponent(components) {
      let data = components.substr(1);

      for (let i in this.router) {
        this.router[i] = false;
      }
      console.log(this.router);
      this.router[data] = true;
    }
  }
};
</script>
<style scoped>
.select {
  background-color: #622c6a49;
  border-left: 5px solid #622c6a;
}
.text-purple {
  color: #622c6a;
}
</style>