<template>
  <div class="text-right">
    <h3 class="font-weight-bold">نوبت های شما</h3>
    <p>
      <strong>در این صفحه شما میتوانید لیست مکان هایی که نوبت گرفته اید را مشاهده کنید.</strong>
    </p>

    <b-card class="shadow">
      <div class="row min-height">
        <div class="col-md-4 border-left">
          <div class="row">
            <div class="col-md-4 p-0">
              <img src="@/assets/image/barbara.jpg" class="img-fluid rounded-circle" height="100%" />
            </div>
            <div class="col-md-8">
              <div class="d-flex text-dark">
                <span class="material-icons">turned_in</span>
                <h5>پیرایش مهرشاد</h5>
              </div>
              <!-- <div class="d-flex text-primary">
                <small>
                  <span class="material-icons">location_on</span>
                </small>
                <p class="mb-0">مشاهده آدرس</p>
              </div>-->
              <div class="d-flex text-success mt-4">
                <small>
                  <span class="material-icons ml-3">check_circle</span>
                </small>
                <h5>پرداخت شده</h5>
              </div>
              <!-- <div class="d-flex text-success">
                <b-button class="py-0 btn-danger">کنسل کردن</b-button>
              </div>-->
            </div>
          </div>
        </div>
        <div class="col border-left">
          <!-- <div class="row d-flex mb-3">
            <div class="col-6 d-flex">
              <span class="material-icons ml-1">av_timer</span>
              روز :
            </div>
            <div class="col-6 text-left">
              <p class="text-purpul font-weight-bold">دوشنبه</p>
            </div>
          </div>-->
          <div class="row d-flex py-2 border-bottom">
            <div class="col-6 d-flex">
              <span class="material-icons ml-1">date_range</span>
              تاریخ:
            </div>
            <div class="col-6 text-left">
              <p class="text-purpul font-weight-bold">1398/5/5</p>
            </div>
          </div>
          <div class="row d-flex pt-4">
            <div class="col-6 d-flex">
              <span class="material-icons ml-1">av_timer</span>
              ساعت:
            </div>
            <div class="col-6 text-left">
              <p class="text-purpul font-weight-bold">17:45</p>
            </div>
          </div>
        </div>
        <div class="col border-left">
          <div class="row d-flex">
            <!-- <div class="col-12 mb-2">سرویس ها :</div> -->
            <div class="col-6 d-flex pl-0">
              <small>اصلاح مو :</small>
            </div>
            <div class="col-6 text-left">
              <p class="text-purpul font-weight-bold">10,000</p>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col-6 d-flex pl-0">
              <small>اصلاح ریش :</small>
            </div>
            <div class="col-6 text-left">
              <p class="text-purpul font-weight-bold">20,000</p>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col-6 d-flex pl-0">
              <small>اصلاح صورت :</small>
            </div>
            <div class="col-6 text-left">
              <p class="text-purpul font-weight-bold">30,000</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border-bottom row py-3">
            <div class="col-6">
              <small class="text-muted">تخفیف :</small>
            </div>
            <div class="col-6 text-left font-weight-bold text-purpul">3,000</div>
          </div>
          <div class="row pt-4">
            <div class="col-6 pl-0">
              <small class="text-dark font-weight-bold">پرداخت شده :</small>
            </div>
            <div class="col-6 text-left font-weight-bold text-purpul">3,000</div>
          </div>
        </div>
      </div>
    </b-card>
  </div>
</template>
<style scoped>
.text-purpul {
  color: #622c6a;
}
.customFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
.min-height {
  /* min-height: 120px; */
}
</style>