<template>
  <div class="text-right">
    <h3 class="font-weight-bold">امتیازات شما</h3>
    <p>
      <strong>در این صفحه شمت میتوانید با انجام کارهای زیر، امتیاز خود را افزایش داده و از جایزه ی آن بهرمند شوید.</strong>
    </p>
    <div v-if="!davat">
      <div class="row">
        <b-card class="col-md-4 mr-auto ml-auto shadow mt-4">
          <div class="row pt-2">
            <div class="col-8 text-right p-0">
              <h5 class="pb-0">مجموعه امتیازات شما :</h5>
            </div>
            <div class="col-4 text-left">
              <h4 class="text-primary text-left font-weight-bold">400</h4>
            </div>
          </div>
        </b-card>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <span
            class="d-block p-2 bg-primary text-white text-center rounded-top"
          >امتیازات قابل دریافت</span>
          <b-card class="mt-2">
            <b-row>
              <b-col class="font-weight-bold">دعوت از دوستان</b-col>
              <b-col class="text-center">
                <span class="badge badge-pill badge-light shadow-sm py-0 px-4">
                  <h5 class="font-weight-bold">5+</h5>
                </span>
              </b-col>
              <b-col class="text-center">
                <b-button class="btn-success py-0 px-4" @click="davatShow()">دعوت</b-button>
              </b-col>
              <p
                class="col-12"
              >در این صفحه شما میتوانید با انجام کارهای زیر، امتیاز خود را افزایش . داده و از جوایز آن بهره مند بشوید</p>
            </b-row>
          </b-card>
          <b-card class="mt-2">
            <b-row>
              <b-col class="font-weight-bold">دعوت از دوستان</b-col>
              <b-col class="text-center">
                <span class="badge badge-pill badge-light shadow-sm py-0 px-4">
                  <h5 class="font-weight-bold">5+</h5>
                </span>
              </b-col>
              <b-col class="text-center">
                <b-button class="btn-success py-0 px-4" @click="davatShow()">دعوت</b-button>
              </b-col>
              <p
                class="col-12"
              >در این صفحه شما میتوانید با انجام کارهای زیر، امتیاز خود را افزایش . داده و از جوایز آن بهره مند بشوید</p>
            </b-row>
          </b-card>
          <b-card class="mt-2">
            <b-row>
              <b-col class="font-weight-bold">تکمیل پروفایل</b-col>
              <b-col class="text-center">
                <span class="badge badge-pill badge-light shadow-sm py-0 px-4">
                  <h5 class="font-weight-bold">10+</h5>
                </span>
              </b-col>
              <b-col class="text-center">
                <b-button class="btn-success py-0 px-4">تکمیل</b-button>
              </b-col>
              <p
                class="col-12"
              >در این صفحه شما میتوانید با انجام کارهای زیر، امتیاز خود را افزایش . داده و از جوایز آن بهره مند بشوید</p>
            </b-row>
          </b-card>
        </div>
        <div class="col-md-6">
          <span class="d-block p-2 bg-secondary text-white text-center rounded-top">امتیازات اخذ شده</span>
          <b-card class="mt-3">
            <b-row>
              <b-col class="font-weight-bold">تکمیل پروفایل</b-col>
              <b-col class="text-center">
                <span class="badge badge-pill badge-light shadow-sm py-0 px-4">
                  <h5 class="font-weight-bold">5+</h5>
                </span>
              </b-col>
              <b-col class="text-center">1398/5/5</b-col>
            </b-row>
          </b-card>
          <b-card class="mt-3">
            <b-row>
              <b-col class="font-weight-bold">دعوت از دوستان</b-col>
              <b-col class="text-center">
                <span class="badge badge-pill badge-light shadow-sm py-0 px-4">
                  <h5 class="font-weight-bold">10+</h5>
                </span>
              </b-col>
              <b-col class="text-center">1398/5/5</b-col>
            </b-row>
          </b-card>
        </div>
      </div>
    </div>
    <div v-else>
      <b-row>
        <div class="col-md-7 mr-auto ml-auto mt-5">
          <b-card>
            <p class="text-primary d-flex">
              <span class="material-icons ml-3">turned_in</span>
              با دعوت دوستان خود به ازای هر نفر 20 امتیاز بگیرید و از آن استفاده کنید.
            </p>
            <div class="row mt-5">
              <div class="col-md-3 mt-2">
                <strong>لینک دعوت</strong>
              </div>
              <div class="col-md-9 text-left" dir="ltr">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn btn-primary" type="button" id="button-addon1">کپی</button>
                  </div>
                  <input
                    type="text"
                    class="form-control text-right"
                    placeholder="https://www.flaticon.com"
                    aria-label="Example text with button addon"
                    aria-describedby="button-addon1"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-3 mt-2">
                <strong>کد دعوت شما</strong>
              </div>
              <div class="col-md-9 text-left" dir="ltr">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn btn-primary" type="button" id="button-addon1">کپی</button>
                  </div>
                  <input
                    type="text"
                    class="form-control text-right"
                    placeholder="kjn365"
                    aria-label="Example text with button addon"
                    aria-describedby="button-addon1"
                  />
                </div>
              </div>
            </div>
          </b-card>
        </div>
      </b-row>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      davat: false
    };
  },
  methods: {
    davatShow() {
      this.davat = true;
    }
  }
};
</script>
<style scoped>
.font-size-2 {
  font-size: 1rem;
}
@media (min-width: 768px) {
  /* .offset-md-4 {
    margin-right: 33.333333%;
  } */
}
</style>